::ng-deep .home {
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.filter-wrapper {
    max-width: 800px;
    margin: auto;
    padding-top: 20px;
}

.row {
    display: block;
    width: 100%;
}

.field-label {
    padding-bottom: 15px;
}
