<app-description></app-description>

<div class="filter-wrapper">
    <mat-label class="row field-label">{{filterTitle}}</mat-label>
    <mat-form-field class="row mat-mdc-form-field mat-mdc-form-field-type-mat-input mat-form-field-appearance-outline mat-primary">
        <mat-label>{{filterPlaceholder}}</mat-label>
        <input matInput type="text" [formControl]="filterValueControl">
        <button *ngIf="filterValueControl.value?.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>

<ng-template #dogListTemplate let-dogs>
    <p class="result-counter">
        {{(dogs.length === 0 && (isInitialized$ | async)) ? "No data found" : dogs.length + " results"}}
    </p>
    
    <mat-accordion class="example-headers-align" *ngIf="dogs" [multi]="false">
    
        <ng-container *ngFor="let dog of dogs; let i = index; trackBy: trackByNav">
            <app-dog [dog]="dog" [position]="i"></app-dog>
        </ng-container>
      
    </mat-accordion>
</ng-template>

<ng-container *ngTemplateOutlet="dogListTemplate; context: { $implicit: dogList$ | async }">
</ng-container>
